@import "tailwindcss";



.scrollbar-hide:hover::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hide:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  
  border-radius: 4px;
}

